*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo {
  min-height: 100vh;
  background-color: rgb(37, 209, 46);
  background-image: url('/img/todo2.png');
  background-size: cover;
  font-family: sans-serif;
  padding: 20px;
}

.todo__box {
  max-width: 800px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 50%);
  padding: 30px 40px 70px;
  margin: 100px auto 20px;
}

.todo__title {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: rgb(0, 255, 42);
}

.todo__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  margin-bottom: 30px;
  padding-left: 15px;
}

.todo__input {
  background-color:transparent;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.todo__btn {
  border: none;
  outline: none;
  padding: 16px 30px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 16px;
  background-color: #22810e;
  color: #fff;
  font-weight: 500;
}

.todo__list {
  list-style-type: none;

}

.todo__list li {
  cursor: pointer;
  font-size: 18px;
  padding: 12px 10px 12px 50px;
  position: relative;
  background-color: rgba(231, 248, 247, 0.9);
  border-radius: 20px;
  margin-bottom: 15px;
}

.todo__list li::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #111;
  top: 12px;
  left: 10px;  
}


.todo__list li.checked {
  color: #555; 
  text-decoration: line-through;
}

.todo__list li.checked::before {
  border-color: #22810e;
  background-color:#22810e;
}

.todo__list li.checked::after {
  content: '\2714';
  position: absolute;
  top: 11px;
  left: 14px;
  color: #ffffff;
}

.todo__list li span {
  position: absolute;
  top: 2px;
  right: 0px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  border-radius: 20px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__list li span:hover {
  background-color: #fff;
}